{{ form_start(form) }}
        {{ form_errors(form) }}
<div>
    {{ form_label(form.title,'Post Title') }}
</div>
<div>
    {{ form_widget(form.title, {'attr': {'style': 'color: green'}})}}
</div>

<div>
    {{ form_label(form.text, 'Post Text') }}
</div>
<div>
    {{ form_widget(form.text) }}
</div>
<div><button type="submit" name="submit" class="bg-sky-500/75">Submit</button></div>
{{ form_end(form) }}